*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 80%;
    height: 90%;
    position: relative;
    margin: 15px auto;
    overflow: hidden;
}

.hero1{
    width: 80%;
    height: 420px;
    margin: 100px auto;
}

.hero1 img{
    margin-bottom: 30px;
    margin-top: -20px;
}

.hero2{
    width: 80%;
    height: 100px;
    margin: 100px auto;
    margin-bottom: 190px;
}

.font{
    color:white;
    font-style: italic; 
    font-size: 20px;
}

.font1{
    color:white;
    font-style: italic; 
    font-size: 20px;
}

.hero2 img{
    margin-bottom: 30px;
}

.body{
    background: linear-gradient(to right, #000000 75%, #8168fe 105%);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.btn-box{
    display: flex;
}   

.footer1{
    width: 250px;
    height: 140px;
}

.btn-box img{
    margin-top: 10px;
    margin-right: 90px;
    width: 17%;
    height: auto;
}

.btn-box button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 11px;
    margin-right: 10px;
    font-weight: bold;
    color: #fff;
}

.anav{
    text-decoration: none;
    font-size: 1vw;
    font-weight: bold;
    color: #fff;

}

.terraheader img{
    width: 60%;
    margin-top: 20px;
}

.hide{
    align: center;
}

.btn-box .fa{
    margin-right: 20px;
    color: #fff;
}

.btn-box button:hover .fa{
    color: #15c4ff;
}

.background{
    width: auto;
}

.features{
    padding: 0px;
    margin-top: 650px;
    width: 100%;
}

.features1{
    padding: 0px;
    margin-top: 650px;
    width: 100%;
}

.features p{
    margin-right: 0px;
    text-align: center;
}

.features img{
    margin-left: 500px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.features1 p{
    width: 47%;
    margin-left: 400px;
    margin-bottom: 100px;
    text-align: center;
    justify-content: center
}

.features1 img{
    margin-left: 650px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.content-right img{
    width: 350px;
}

.image1{
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    padding-bottom: 200px;
}

.image2{
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.image3{
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.content{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 11% auto;
    position: absolute;
    transform: translateX(100%);
    transition: 1s;
}

.content-left{
    flex-basis: 50%;
    animation: fadeIn 8s;
    animation-delay: 3.2s;
}

.content-left p{
    margin-right: 60px;
    padding: 70px 0;

}

.content-left img{
    margin: -5px;
    margin-right: 1px;
    margin-left: 5px;
}

.content-left a{
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    background: linear-gradient(to left, #8168fe 0%, #58baff 100%);
    color:#fff;
    text-align: center;
}

.content-right{
    flex-basis: 50%;
    text-align: center;
}

.content-right img{
    margin-left:150px;
    animation: fadeIn 8s;
    animation-delay: 3.2s;
}

#content1{
    transform: translateX(0px) ;
}

.exe{
    padding-top: 50px;
}

.exe1 img{
    padding-top: 0px;
}

.exe2 img{
    padding-top: 0px;
}

#btn1{
    color: #fff;
}

.text{
    color: #fff;
}

.footer{
    text-align: center;
    padding: 30px;
}

.footer tr, td{
    justify-content: center;
    padding: 0px;
    color: #fff;
    text-align: center;
    font-size: 13px;
}

.footer th{
    justify-content: center;
    padding: 0px;
    color: #fff;
    text-align: center;
}

.table{
    margin-top: -30px;
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
	position: relative;
	width: 240px;
    height: 240px;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.image__img {
	display: block;
	width: 240px;
    height: 240px;
}

.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
}

.image__overlay--blur {
	backdrop-filter: blur(60px);
}

.image__overlay--primary {
	background: #000;
}

.image__overlay>* {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover>* {
	transform: translateY(0);
}

.image__title {
	font-size: 1vw;
	font-weight: bold;
}

.image__description {
	font-size: 0.7vw;
	margin-top: 0.25em;
}

.loader > img {
    width: 100%;
}

.loader.hidden {
    animation: fadeOut 3.4s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 1;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes mymove {
    from {right: 0px;}
    to {right: 200px;}
  }

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

html {
    scroll-behavior: smooth;
}

.to-top {
    background: linear-gradient(to left, #8168fe 0%, #58baff 100%);
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }

  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }

  @media (min-width: 800px){
    .terraheader{
        display:none;
    }
 }
 

 @media (max-width: 800px){
    .hide{
        display: none;
    }

 }

 @media (max-width: 800px){
    .btn-box{
        display: none;
    }
 }
  
  @media (max-width: 800px) and (min-width: 200px){
    .content{
        display:block;
    }
 }

 @media (max-width: 800px) and (min-width: 200px){
    .content-right img{   
        margin-left: 10px;
        margin-top: 40px;
        width: 50%;
    }
 }

 @media (max-width: 800px) and (min-width: 200px){

    .btn-box img{
        margin-right: 0px;
    }

    .btn-box button{
        padding: 2px;
        margin-left: 1px;
        margin-top: 20px;
    }

    .anav1{
        display: none;
    }

    .footer tr, td{
        font-size: 1vw;
        padding: 1px;
    }

    .footer{
        margin-top: -1px;
    }

    .content-left p{
        text-align: center;
        width: 100%;
    }

    .to-top{
        width: 20px;
        height: 20px;
        font-size: 15px;     
    }

    .content-left a{
        width: 150px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 7px 7px;
        border-radius: 20px;
        text-decoration: none;
        background: linear-gradient(to left, #8168fe 0%, #58baff 100%);
        color:#fff;
        text-align: center;
    }

    .content-left p{
        margin-right: 60px;
        font-size: 11px;
        padding: 40px 0;
    }

    .image1{
        background-size: 100%;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        padding-bottom: 20px;
    }

    .features{
        padding: 0px;
        margin-top: 650px;  
    }

    .font{
        color:white;
        font-style: italic; 
        font-size: 10px;
    }

    .footer1{
        width: 70px;
        height: 45px;
    }

    .footer2{
        width: 5px;
        height: 5px;
    }

    .hero1{
        width: 80%;
        height: 170px;
        margin: 70px auto;
        margin-top: 50px;
    }

    .hero2{
        width: 80%;
        height: 100px;
        margin: 150px auto;
    }

    .table{
        margin-top: -40px;
    }

    .team img{
        width: 50px;
        height: 60px;
    }

    .exe img{
        width: 70px;
        height: 70px;
    }

    .exe table{
        height: 50px;
        max-width: 60%;
    }

    .exe1 img{
        width: 80px;
        height: 10px;
    }

    .exe2 img{
        width: 80px;
        height: 20px;
    }

    .image {
        position: relative;
        width: 70px;
        height: 75px;
        margin-left: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    
    .image__img {
        width: 100px;
        height: 100px;
    }
    
    .image__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #ffffff;
        font-family: 'Quicksand', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;
    }
    
    .image__overlay--blur {
        backdrop-filter: blur(80px);
    }
    
    .image__overlay--primary {
        background: #000;
    }
    
    .image__overlay>* {
        transform: translateY(80px);
        transition: transform 0.25s;
    }
    
    .image__overlay:hover {
        opacity: 1;
    }
    
    .image__overlay:hover>* {
        transform: translateY(0);
    }
    
    .image__title {
        font-size: 1vw;
        font-weight: bold;
    }
    
    .image__description {
        font-size: 0.7vw;
        margin-top: 0.25em;
    }

    .iframe{
        width: 150px;
        height: 70px;
    }
    
 }